*::selection {
    background-color: #000;
    color: #f09090;
}

*::-moz-selection {
    background-color: #000;
    color: #f09090;
}

body {
    background: #f09090;
    font-family: Arial;
    font-size: 15px;
    width: 1200px;
    margin: auto;
}